@font-face {
  font-family: 'InstrumentSans';
  src: url("../fonts/InstrumentSans-VariableFont_wdth,wght.ttf")format("truetype")
}
@font-face {
  font-family: 'InstrumentSans_Italic';
  font-style: italic;
  src: url("../fonts/InstrumentSans-Italic-VariableFont_wdth,wght.ttf") format("truetype");
}