.apercu {

  .illustration-links {
    position: relative;
    width: 240px;
    height: 50px;
    border-radius: 10px;
    z-index: 10;
    margin: 15px 0 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.links-profil {
  .illustration-links {
    position: relative;
    width: 240px;
    height: 50px;
    border-radius: 10px;
    z-index: 10;
    margin: 15px 0 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}